@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BTK Akademi</h1>
    <a href="/course/apply" class="btn btn-outline-primary col-2 mt-3">Apply</a>
</div>
