@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BTK Akademi</h1>
    <a asp-controller="Course" asp-action="Apply" class="btn btn-outline-primary col-2 mt-3">Apply</a>
</div>
