@model Candidate
<div class="display-6 mb-5">
    Apply
</div>

<form method="post" asp-action="Apply" class="m-2">
    <div class="form-group">
        <label asp-for="Email" class="h5"></label>
        <input asp-for="Email" class="form-control mb-3"/>
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="h5"></label>
        <input asp-for="FirstName" class="form-control mb-3"/>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="h5"></label>
        <input asp-for="LastName" class="form-control mb-3"/>
    </div>
    <div class="form-group">
        <label asp-for="Age" class="h5"></label>
        <select asp-for="Age" class="form-control mb-3">
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
        </select>
    </div>

    <fieldset>
        <legend>Select A Course</legend>
        <p>
            <input id="mvc" type="radio" name="SelectedCourse" value="ASP.NET Core MVC" />
            <label>ASP.NET Core MVC</label>
        </p>
        <p>
            <input id="api" type="radio" name="SelectedCourse" value="ASP.NET Core API" />
            <label>ASP.NET Core API</label>
        </p>
        <p>
            <input id="blazor" type="radio" name="SelectedCourse" value="Blazor" />
            <label>Blazor</label>
        </p>
    </fieldset>

    <button type="submit" class="btn btn-success col-2">Apply</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Go Back</a>
</form>